body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.clear::after {
    display: block;
    content: "";
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

/* header section */

#header {
    padding: 100px 0;
}

.header-content {
    width: 50%;
}

.header-content h1 {
    font-size: 50px;
    color: rgba(0, 0, 0,.7);
    margin: 0;
}
.header-content span {
    color: orange;
}

.header-image {
    width: 50%;
}

a.btn {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(45deg,orange, #e73131);
    padding: 10px 20px;
    color: white;
    text-transform: capitalize;
    border-radius: 20px;
}
a.btn:hover {
    background: linear-gradient(#e73131,orange);
}

/* about section */

#about {
    background: url(images/7.png) no-repeat;
    background-size: cover;
    padding: 70px 0 40px;
}

.about-image {
    width: 40%;
    margin: 0 5%; 
}
.about-image img {
    width: 80%;
}
.about-content {
    width: 50%;
}
.about-content h2 {
    font-size: 35px;
    color: rgba(0, 0, 0,.7);
}

.about-content p {
    width: 70%;
    margin-bottom: 60px;
    line-height: 1.7;
}

/* recipe section */

#recipe {
    padding: 50px 0;
}

.recipe-common {
    width: 31.33%;
    margin: 0 1%;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 3px 4px 30px 0 rgb(98 120 223 / 20%);
    border-radius: 20px;
}

.recipe-common img {
    border-radius: 20px;
    width: 300px;
}
.recipe-title {
    margin-bottom: 40px;
}

.recipe-title h2 {
    font-size: 35px;
    color: rgba(0, 0, 0,.7);
}
.recipe-title p {
    width: 60%;
    margin: auto;
    line-height: 1.7;
}


/* counter section */
#counter-section {
    padding: 80px 0;
}

.counter {
    display: flex;
    width: 60%;
    margin: auto;
    box-shadow: 3px 4px 20px rgb(0 0 0 / 50%);
    padding: 30px;
    border-radius: 30px;
}
.counter-common {
    width: 31%;
    margin: 0 1%;
}


/* testimonials section */

#testimonials {
    padding: 50px 0 70px;
}

#testimonials h2 {
    font-size: 35px;
    color: rgba(0, 0, 0,.7);
    margin-bottom: 50px;
}

.t-common {
    width: 31.33%;
    margin: 0 1%;
}
.t-content {
    background: #fff;
    box-shadow: 3px 4px 30px 0 rgb(98 120 223 / 20%);
    padding: 40px;
    box-sizing: border-box;
    margin-bottom: 42px;
    border-radius: 30px;
    position: relative;
}
.t-content::after {
    content: "";
    position: absolute;
    bottom: -19px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #ffffff transparent transparent transparent;
}

.t-user img {
    border-radius: 50%;
    width: 80px;
    float: left;
    margin-right: 24px;
}

.t-user-bio {
    position: relative;
    top: 13px;
}
.t-user-bio h4 {
    font-size: 20px;
    margin-bottom: 5px;
}
.t-user-bio span {
    font-size: 17px;
    display: inline-block;
    color: #767676;
}

/* footer section */

footer {
    background: #767676;
    padding: 20px 0;
}

footer h2, p {
    color: darkgray;
}
footer span {
    color: orange;
}
