body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.clear::after {
    display: block;
    content: "";
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

/* header section */

#header {
    padding: 100px 0;
}

.header-content {
    width: 50%;
}

.header-content h1 {
    font-size: 50px;
    color: rgba(0, 0, 0,.7);
    margin: 0;
}
.header-content span {
    color: orange;
}

.header-image {
    width: 50%;
}

a.btn {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(45deg,orange, #e73131);
    padding: 10px 20px;
    color: white;
    text-transform: capitalize;
    border-radius: 20px;
}
a.btn:hover {
    background: linear-gradient(#e73131,orange);
}

/* about section */

#about {
    background: url(images/7.png) no-repeat;
    padding: 70px 0 30px;
}

.about-image {
    width: 40%;
    margin: 0 5%; 
}
.about-image img {
    width: 80%;
}
.about-content {
    width: 50%;
}
.about-content h2 {
    font-size: 35px;
    color: rgba(0, 0, 0,.7);
}

.about-content p {
    width: 70%;
    margin-bottom: 60px;
    line-height: 1.7;
}
